
@{
    ViewData["Title"] = "EventsView";
}

<div class="contained">
    <h1 align="center">Get involved and build meaningful connections</h1>
    <br><br>
    <div class="one">
        <img src="images/sarasmile.PNG" alt="Team picture" width="72%" align="right">
    </div>
    <div class="two" align="center">
        <h5>Mon., Jan. 13 | Ottawa Accenture Office</h5> <br>
        <h4>Accenture Office Tour</h4> <br>
        <p> Accenture is looking to hire interns for its Summer Analyst position. Come visit the Ottawa office and network with professionals to land your dream consulting job. </p><br>
        <a asp-controller="Events"
           asp-action="Register"
           asp-route-eventName="Accenture Office Tour"><button href="#">Register</button></a>
    </div>
</div>

