
@{
    ViewData["Title"] = "Index";
}

<h1>Meet Our Team</h1>
<center>
    <div class="contained">
        <div class='row'>
            <div class="column">
                <img src="images/Capture.PNG" alt="Misha Butt">
                <h2>Mishal Butt</h2>
                <p>Co-President</p>
            </div>
            <div class="column">
                <img src="images/Capture2.PNG" alt="Member 2">
                <h2>Nourhan Mohamed</h2>
                <p>Co-President</p>
            </div>
            <div class="column">
                <img src="images/Capture3.PNG" alt="Member 3">
                <h2>Abi Siva</h2>
                <p>Vice-President of Administration</p>
            </div>
        </div>
        <div>
            <h2><a asp-controller="Contact"
   asp-action="Create"><button href="#">Let's Work Together!</button></a></h2>
        </div>
</center>
