
@{
    ViewData["Title"] = "Index";
}

<div class="contained">
    <h1><center>Women in Management Network (WMN)</center></h1>
    <div class="about"> Our Story</div>
    <p style="text-align:center">

        It's Telfer's new student-run initiative that was founded by 4th Year International Management student Polly Leung. <br>What is it actually?

    </p>
    <div class="leung">
        <center><img src="images/leung.png" alt="leung" width=30%></center>
    </div>
    <p style="text-align:center">
        <b>I'm here to tell you more!</b>
        <br>One important thing to know is that it is a network for both male and female students to leverage. Most importantly, this is what WMN aims to do for students:
        It is here to help students to increase their confidence and give them a better idea of their desired career path through older student leaders and female professionals in fields of business.
        Their events will help students go beyond the hello with female leaders and professionals in various industries by facilitating authentic, meaningful discussions. These discussions will help you learn about women’s potential in the workplace as well as hear about the successes and the struggles they faced along the way.
        Provide various skill-building workshops that enable students to learn the necessary skills outside the current scope of their classroom.
        If you find the finance lab in Desmarais a bit intimidating but are curious to learn what it’s all about, join the WMN in exploring the lab’s resources to help you gain confidence and expand your business skillset.
        WMN also wants to build a network of primarily female students at Telfer where WMN can provide them with a safe place to support each other and give back to the community, as well as just have fun!
</div>
<div>
    <p style="text-align:center">
        <br>Stay updated and don't miss one of WMN's events by liking WMN's Facebook page.
        <h2><a asp-controller="Contact"
   asp-action="Create"><button href="#">Let's Work Together!</button></a></h2>
    </p>
</div>

