
@{
    ViewData["Title"] = "Index";
}

    <body>
        <div class="contained">
            <h5>Aug 19, 2019 - 3 min read</h5>
            <h1>"Why I started WMN" - Polly</h1>
            <h5>Updated: Dec 31, 2019 </h5> <br>
            <img src="images/polly.png" alt="Polly" width="800">
            <br><br>
            <h4> <b>Bringing WMN to Life</b> </h4>
            <br>
            Working for one of Canada’s top diversity employers ignited the spark that became WMN. At AMEX, I joined their Women’s Initiative Network (WIN) and interacted with women of all seniority levels, departments, and backgrounds. Being in a space that consistently fueled the need for greater diversity and discussion of such things makes you more aware of the lack of it in other spaces. And for me, that was my university community in Ottawa.
            <br> <br>
            <h4><b>The Start of WMN</b></h4>
            <br>
            I began discussions with many Telfer staff, specifically the lovely members at the Telfer Career Centre. I understood that it was essential to align my own effort with that of the strategic initiatives of the school and the business community. Two of the biggest gender gaps existing in the Telfer community were:
            <br> <br>
            The lack of female representation in the finance field;
            <br> <br>
            The lack of formal and informal mentorships happening during and after university.
            <br> <br>
            Those two, if improved upon, would supercharge the most underrepresented female student population at the university. Thus, in September 2017, our organization started with 3 people, working to build the network’s foundations. Within weeks, our organization flourished to 14 motivated individuals, and by the launch date in January 2018, we had expanded to 35 people, working to hyper-accelerate our network’s initiatives.
            <img src="images/wmnteam.png" alt="Team picture" class="Textwrap" width="40%">
            <br> <br>
            <h4><b>Why WMN?</b></h4>
            <br>
            There were so many layers of why the network needed to happen, and what made it flourish in the way it did. Most importantly, the demand had been there for countless years. Telfer focused heavily on improving its separate business streams, but no one talked about the intersectional layers that affected students, one of such being gender equality.
            <br><br>
            Furthermore, when we ran a wide-scale survey, I realized that amongst the student body, there was a huge lack of awareness of the realities of gender inequality once they left university. We were surrounded by a certain element of a safety bubble provided by our institution. One of the biggest issues that we, as either men or women, face, is that we don’t know what we haven’t experienced. If we don’t begin to have such dialogues of our own realities, we accept the status quo and complacently go about our everyday lives. There are these invisible barriers and glass ceilings that become conveniently placed so that these discussions don’t seem to need to happen. Ultimately, we realize this once we’re caught in the midst of it, when we’re losing out on $50,000 a year because we didn’t understand the need to negotiate our salaries, to fight for our worth, or to have a sponsor become that door for us in the real world.
            <br><br>
            There were several stories of female students not being taken seriously in the classroom, and thinking they could not enter the Telfer Finance Lab because it was male-dominated. Almost 100% of all students wanted a mentor, but almost that same amount did not have one. So many opportunities were being missed out on, just because there weren’t enough initiatives there to let that happen.
            <br><br>
            If I were to give one message to the next WMN generation, it would be simply: don’t be afraid to reach out to anyone from the past, present, and future WMN community. We pride ourselves on being egoless, passionate, growth-mindset individuals. I want to invite you into our community to become a more aware, hungry, and passionate version of you.
            <br><br>
            <i>By Polly Leung, Founder of WMN</i>
            <br><br>
            </p>
        </div>
    </body>

